@page "/"
@using UI.Components
@using UI.Helpers

<PageTitle>Scheduler</PageTitle>
<div class=".container">
    @switch (_state)
    {
        case ServiceState.Stopped:
            <StartPage StartService="StartService"
               SuccessAlerter="SuccessAlerter"
               ErrorAlerter="ErrorAlerter"
               ExceptionAlerter="ExceptionAlerter"></StartPage>
            break;
        case ServiceState.Running:
            <ContentPage StopService="StopService"
             IsServiceStillRunning="IsServiceRunning"
             SuccessAlerter="SuccessAlerter"
             ErrorAlerter="ErrorAlerter"
             ExceptionAlerter="ExceptionAlerter"></ContentPage>
            break;
        default:
            <Unavailable></Unavailable>
            break;
    }
</div>