@page "/"
@using UI.Components
@using UI.Models

<PageTitle>Scheduler</PageTitle>
<div class=".container">
    @switch (_state)
    {
        case ServiceState.Stopped:
            <StartPage StartService="StartService"
               SuccessAlerter="SuccessAlerter"
               ErrorAlerter="ErrorAlerter"
               ExceptionAlerter="ExceptionAlerter"></StartPage>
            break;
        case ServiceState.Running:
            <ContentPage StopService="StopService"
                 IsServiceStillRunning="IsServiceRunning"
                 SetCurrentState="SetCurrentState"
                 SuccessAlerter="SuccessAlerter"
                 ErrorAlerter="ErrorAlerter"
                 ExceptionAlerter="ExceptionAlerter"></ContentPage>
            break;
        case ServiceState.Unavailable:
            <Unavailable></Unavailable>
            break;
        default:
            <Spinner></Spinner>
            break;
    }
</div>