@if (!_isLoading)
{
    <EditForm Model="@Model.Parameters" OnValidSubmit="@OnStartCallback">
        <DataAnnotationsValidator />
        <div class="form-group mb-3 bg-light p-3">
            <ValidationMessage For="(() => Model.Parameters.Pattern)"></ValidationMessage>
            <label for="pattern">Minta</label>
            <InputText id="pattern" @bind-Value="Model.Parameters.Pattern" class="form-control" aria-describedby="patternHelp" placeholder="Griff*.zip" />
            <small id="patternHelp" class="form-text text-muted">Erre a mintára illeszkedő file-okat fogja figyelni a monitorozott mappa.</small>
        </div>
        <div class="form-group mb-3 bg-light p-3">
            <ValidationMessage For="(() => Model.Parameters.MaxCopyTimeInMiliSec)"></ValidationMessage>
            <label for="waitTime">Várakozási idő (ms)</label>
            <InputNumber id="waitTime" @bind-Value="Model.Parameters.MaxCopyTimeInMiliSec" class="form-control" aria-describedby="waitTimeHelp" placeholder="1000" />
            <small id="waitTimeHelp" class="form-text text-muted">A zip megérkezésére vár 2 ms-t, majd 4 ms-t, majd 8 ms-t, és így tovább, de miután már elérte az itt megadott paramétert, nem vár tovább.</small>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block elevating-button">Indítás</button>
    </EditForm>
}
else
{
    <Spinner></Spinner>
}